.container {
  display: flex;
  justify-content: space-around;
}
.grils-3:hover {
  filter: grayscale(100%);
}
.conainer-1 {
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  margin: 0px 10px;
  width: 250px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0, 0.1);
  transition: 1s;
}
.box img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 5px;
}
.box:hover {
  transform: scale(1.3);
  z-index: 2;
  filter: grayscale(100%);
}
